body {
    background: #f7f7f7;
}

.input-auth {
  margin: 0 auto;
  width: 350px;
  padding: 20px;
}

.input-label-auth {
  display:block;
  text-align: center;
  color: #000000;
}

button.submit-button-input {
  display: block; margin: 0 auto; color: rgba(0, 0, 0, 0.5); width: 150px;
}